body {
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: rgba(240,242,245,255);
    
}

#navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid rgb(215,215,215);
}

#menu-button {
    width: 2em;
    height: 1.8em;
    margin-left: 15px;
    cursor: pointer;
}

#side-navbar {
    position: fixed;
    z-index: 1;
    left: 0;
    width: 4em;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: 0.1s all linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.expand {
        width: 15em;
    }
}

#side-navbar div {
    width: 90%;
    height: 2.5em;
    border-radius: 0.7em;
    margin: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#side-navbar img {
    width: 2em;
    height: 2em;
    margin: auto;
    &.addMargin {
        margin-right: 0.5em;
        margin-left: 1.5em;
    }
}

.selected-navbar-button {
    background-color: black;
    color: white;
}

.selected-navbar-button img {
    filter: invert(100%) sepia(0%) saturate(7424%) hue-rotate(20deg) brightness(118%) contrast(114%);
}

.unselected-navbar-button {
    color: black;
}

.unselected-navbar-button:hover {
    background-color: rgb(242,242,242);
}

.side-navbar-text {
    display: none;
    font-size: 1.2em;

    &.show {
        display: block;
    }
}

#logo {
    height: 3em;
}

#user-container {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

#user-image {
    width: 1.5em;
    height: 1.5em;
    padding-bottom: 0.2em;
    margin-left: 0.8em;
    cursor: pointer;
}

#logout-container {
    display: none;
    width: 230px;
    height: 3em;
    position: absolute;
    bottom: -3.5em;
    right: 0;
    background-color: white;
    border: solid 1px rgb(215,215,215);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logout-container img {
    width: 1.5em;
    margin-right: 1em;
}

#logout-button {
    height: 2.5em;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1em;
    
}

#logout-button:hover {
    background-color: rgb(242,242,242)
}

#student-profile {
    width: 50vw;
    height: 85vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

h1 {
    margin: 0;
}

#student-profile > div {
    border: solid rgb(215,215,215) 0px;
}

#student-profile > p {
    margin: 0px;
}


























.popup-message {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-container {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-container img{
    width: 6em;
    margin: 0;
}

.popup-heading {
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
}

.popup-confirm {
    color: white;
    border-radius: 500px;
    background-color: black;
    border: none;
    padding: 0.6em 3em;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 0.5em;
    margin-top: 5px;
}